@font-face {
  font-family: R regular;
  src: url(../font/Raleway-Regular.ttf); }

@font-face {
  font-family: R extrabold;
  src: url(../font/Raleway-ExtraBold.ttf); }

@font-face {
  font-family: R thin;
  src: url(../font/Raleway-Thin.ttf); }

@font-face {
  font-family: bodoni;
  src: url(../font/bodoni-bd-bt/BodonBd.ttf); }

* {
  box-sizing: border-box; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  height: 10vh;
  width: 100vw;
  margin-top: 20px; }
  .header .header__logo {
    height: 50px;
    margin-left: 20px; }
  .header .nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 700px;
    padding: 0%;
    justify-content: space-between; }
    .header .nav__list .nav__list-link {
      color: #FBF8F8;
      text-decoration: none;
      font-family: R regular;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 38px;
      letter-spacing: 0.1em;
      font-variant: small-caps;
      text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.9); }
  .header #header__button {
    height: 50px;
    margin-right: 20px;
    color: #FBF8F8;
    font-family: R regular;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 38px;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.9); }

@font-face {
  font-family: R regular;
  src: url(../font/Raleway-Regular.ttf); }

@font-face {
  font-family: R extrabold;
  src: url(../font/Raleway-ExtraBold.ttf); }

@font-face {
  font-family: bodoni;
  src: url(../font/bodoni-bd-bt/BodonBd.ttf); }

* {
  box-sizing: border-box; }

.mainIndex .container1 .container1__texto {
  width: 600px;
  margin-left: auto;
  margin-bottom: 100px;
  padding-top: 400px;
  font-family: R extrabold;
  font-weight: 800;
  font-size: 70px;
  line-height: 70px;
  color: #FFFFFF;
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.9); }

.container1 {
  background-image: url(../img/fotoHeader.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover; }

#contentConocenos {
  background-image: url(../img/quienesSomos.jpg);
  height: 100vh;
  background-size: cover; }

#contentCampanias {
  background-image: url(../img/campanias.jpg);
  height: 100vh;
  background-size: cover; }

#contentContacto {
  background-image: url(../img/contacto.jpg);
  height: 100vh;
  background-size: cover; }
