@font-face {
    font-family: R regular;
    src: url(../font/Raleway-Regular.ttf);
  }
@font-face {
    font-family: R extrabold;
    src: url(../font/Raleway-ExtraBold.ttf);
    }
    @font-face {
        font-family: R thin;
        src: url(../font/Raleway-Thin.ttf);
        }
@font-face {
      font-family: bodoni;
      src: url(../font/bodoni-bd-bt/BodonBd.ttf);
  }

*{
  box-sizing: border-box;
}

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    height: 10vh;
    width: 100vw;
    margin-top: 20px;

      .header__logo{
      height: 50px;
      margin-left: 20px;
      }

      

      .nav__list{
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 600px;
        padding: 0%;
        justify-content: space-between;
        // align-items: center;

        .nav__list-link{
          
          color: #FBF8F8;
          text-decoration: none;
          font-family: R regular;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 0.1em;
          font-variant: small-caps;
          text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.9); 
        }
      }

   #header__button {
    height: 45px;
    margin-right: 20px;
    color: #FBF8F8;
    font-family: R regular;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.9); 

   }
  }

  @media screen and (max-width: 1024px) {
    .header {
        .nav__list{
          width: 450px;
        }
    }
  }

  @media screen and (max-width: 920px) {
    .header {
        .nav__list{
          width: 400px;
        }
    }
  }

  @media screen and (max-width: 768px) {
    .header {
      .header__logo{
          height: 40px; 
      }
  
      .nav__list{
          flex-direction: column;
          width:fit-content;
          align-items: center;
          
          .nav__list-link{
            font-size: 10px;
          }
        }
  
        #header__button {
          height: 30px;
          font-size: 12px;
          line-height:normal;
         }
    }
  }

  @media screen and (max-width: 480px) {
    .header {
      .header__logo{
        height: 30px; 
      }
  
      .nav__list-link{
        font-size: 10px;
      }
    }
  }