@font-face {
    font-family: R regular;
    src: url(../font/Raleway-Regular.ttf);
  }
@font-face {
    font-family: R extrabold;
    src: url(../font/Raleway-ExtraBold.ttf);
    }
    @font-face {
        font-family: R thin;
        src: url(../font/Raleway-Thin.ttf);
        }
@font-face {
      font-family: bodoni;
      src: url(../font/bodoni-bd-bt/BodonBd.ttf);
  }

*{
  box-sizing: border-box;
}

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-content: center;
    position:absolute;
    height: 10vh;
    width: 100vw;
    margin-top: 20px;

      .header__logo{
      height: 50px;
      margin-left: 20px;
      }

      .nav__list{
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 700px;
        padding: 0%;
        justify-content: space-between;
        // align-items: center;

        .nav__list-link{
          
          color: #FBF8F8;
          text-decoration: none;
          font-family: R regular;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 38px;
          letter-spacing: 0.1em;
          font-variant: small-caps;
          text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.9); 
        }
      }

   #header__button {
    height: 50px;
    margin-right: 20px;

    color: #FBF8F8;
    font-family: R regular;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 38px;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.9); 

   }
  }