// INDEX HEADER
@import "header";

@font-face {
    font-family: R regular;
    src: url(../font/Raleway-Regular.ttf);
  }
@font-face {
    font-family: R extrabold;
    src: url(../font/Raleway-ExtraBold.ttf);
    }
@font-face {
      font-family: bodoni;
      src: url(../font/bodoni-bd-bt/BodonBd.ttf);
  }

  *{
      box-sizing: border-box;
  }


// DIV CON CLASS CONTENT DEL MAIN DE TODAS LAS PAGES.
.main{
    .container1{
        .container1__texto{
            // background-color: black;
            width:fit-content;
            position: relative;
            top: 500px; /*(para que se aplique tiene que estar posicionado SI o SI, sino no funciona*/
            margin-left: auto;
            padding-right: 20px;
            font-family: R extrabold;
            font-weight: 800;
            font-size: 70px;
            line-height: 70px;
            color: #FFFFFF;
            text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.9);
        }
    }
   
}    

// IMAGEN DE FONDE DE CADA PAGE.
// INDEX.
.container1{
    background-image: url(../img/index.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

//CONOCENOS.
#contentConocenos{
    background-image: url(../img/quienesSomos.jpg);
    height: 100vh;
    background-size: cover;
}

//CAMPANIAS.
#contentCampanias{
    background-image: url(../img/campanias.jpg);
    height: 100vh;
    background-size: cover;
}


//CONTACTO.
#contentContacto{
    background-image: url(../img/contacto.jpg);
    height: 100vh;
    background-size: cover;
}
